//create-fellow.jade, added on 5.21.2014 to style Form errors
#standardCol
	.option1
		width: 300px
		height: 250px
		position: relative
		border 1px solid black
		border-radius: 5px;
		font-size 12px
		p
			width: auto
			height: 158px
		input
			width: 217px
			display: inline-block

	.option2
		border: 1px solid #000
		border-radius: 5px;
		width: 300px
		height: 250px
		position: relative
		top: -250px
		left: 380px
		font-size 12px

		.get-started-two
			position absolute
			left 102px

