#standardCol
	a.add-photos-anchor
		padding 15px
		margin-left 585px
	pre a.edit-album-anchor
		margin-left 280px

#photo-album
	img
		width 220px
		height 220px
		border 1px solid black
		margin-bottom 15px

	button.btn
		width 15px