#standardCol
	.btn-group
		margin-left 30px
		margin-top 20px

#resource-filter.well.row
	display inline-flex
	width 775px
	padding 0px
	margin-bottom 0px
	.category-filter
		width 180px
		border-right 1px solid black
	.category-type
		width 420px
		display flex
		.input-group
			padding-right 15px
	.content-filter
		width 180px
		border-right 1px solid black
	.content-type
		width 420px
		display flex
		.input-group
			padding-right 15px


