//Standardize font
*
	font-family Helvetica, sans-serif

//Body
body
	padding-top 69px

//toastr
.toast-top-right
	top 70px

.toast-success
	background-color #13987e

//Common Column Size
#standardCol
	width 800px
	padding-left 25px
	background-color #eee

//Common Filter Inputs
#filterContainer
	position fixed
	top 0
	left -34px
	right 20px
	padding-top 70px
	z-index 1000

//Common Signup Section
#signupSection
	width 850px
	margin-left auto
	margin-right auto
	padding-top 15px
	form
		.col-md-5
			padding-left 0px
		.col-md-7
			padding 0px