//ocfc-post-testimony.jade
.testimony-feed-display.common-post-ui
	.line-decor
	.dot-decor
	.vertical-line.timeline
	.post-type-icon
		.glyphicon.glyphicon-text-width
		span Testimony
	ocfc-user-image
	.post-content
		ocfc-post-heading
		.article
			.content-title{{post.title}}
			.content-body{{post.content}}
		ocfc-post-res-icons
		.user-comment
			//ocfc-user-image
			//.content
			//	p This is a great question!
			//	p Jane 10:20PM
		ocfc-user-comment-input