a.header-icons.post(href='#', ng-click='postType="general"')
	span.glyphicon.glyphicon-book  Post
a.header-icons.event(href='#', ng-click='postType="event"')
	span.glyphicon.glyphicon-calendar  Event
a.header-icons.testimony(href='#', ng-click='postType="testimony"')
	span.glyphicon.glyphicon-text-width  Testimony
a.header-icons.question(href='#', ng-click='postType="question"')
	span.glyphicon.glyphicon-question-sign  Question