//ocfc-post-icons.jade
.icons-container
	a(href='#')
		span.glyphicon.glyphicon-picture
	a(href='#')
		span.glyphicon.glyphicon-facetime-video
	a(href='#')
		span.glyphicon.glyphicon-link
	a(href='#')
		span.glyphicon.glyphicon-music