//This file contains all script dependencies need for the project

script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
//cloudinary upload related
script(type="text/javascript", src="/vendor/cloudinary_js/js/jquery.cloudinary.js")
script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript", src="/vendor/underscore/underscore.js")
script(type="text/javascript", src="/vendor/toastr/toastr.js")
//angular file upload
script(type="text/javascript", src="/vendor/ng-file-upload-shim/angular-file-upload-shim.min.js")


script(type="text/javascript", src="/vendor/angular/angular.js")
script(type="text/javascript", src="/vendor/angular-resource/angular-resource.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.js")
script(type="text/javascript", src="/vendor/angular-animate/angular-animate.js")
//script(type="text/javascript", src="/vendor/angular-upload/angular-upload.js")
//script(type="text/javascript", src="/vendor/angular-file-upload/angular-file-upload.js")
script(type="text/javascript", src="/vendor/angular-bootstrap/ui-bootstrap-tpls.js")
script(type="text/javascript", src="/socket.io/socket.io.js")
script(type="text/javascript", src="/vendor/angular-socket-io/socket.js")

//cloudinary angular plugin
script(type="text/javascript", src="/vendor/cloudinary_ng/js/angular.cloudinary.js")
//angulalar file upload
script(type="text/javascript", src="/vendor/ng-file-upload/angular-file-upload.min.js")


script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/main/MainCtrl.js")
script(type="text/javascript", src="/app/main/ocfc-collapsible-menu.js")

script(type="text/javascript", src="/app/common/NotifierSvc.js")
script(type="text/javascript", src="/app/common/SetupSvc.js")
script(type="text/javascript", src="/app/common/CommonCtrl.js")
script(type="text/javascript", src="/app/common/ngThumb.js")
script(type="text/javascript", src="/app/common/ocfc-view-permission.js")
script(type="text/javascript", src="/app/common/ocfc-user-image.js")
script(type="text/javascript", src="/app/common/ocfc-toggle-button.js")


script(type="text/javascript", src="/app/account/IdentitySvc.js")
script(type="text/javascript", src="/app/account/AuthSvc.js")
script(type="text/javascript", src="/app/account/UserSvc.js")
script(type="text/javascript", src="/app/account/SignupCtrl.js")
script(type="text/javascript", src="/app/account/ProfileCtrl.js")

script(type="text/javascript", src="/app/account/profile/ocfc-profile-form.js")

script(type="text/javascript", src="/app/account/access/ocfc-signin.js")
script(type="text/javascript", src="/app/account/access/ocfc-signout.js")


script(type="text/javascript", src="/app/admin/UserListCtrl.js")


script(type="text/javascript", src="/app/fellowship/FellowUserSvc.js")
script(type="text/javascript", src="/app/fellowship/JoinFellowCtrl.js")
script(type="text/javascript", src="/app/fellowship/FellowshipSvc.js")
script(type="text/javascript", src="/app/fellowship/PostSvc.js")
script(type="text/javascript", src="/app/fellowship/EventSvc.js")
script(type="text/javascript", src="/app/fellowship/FellowshipCtrl.js")
script(type="text/javascript", src="/app/fellowship/MemberCtrl.js")
script(type="text/javascript", src="/app/fellowship/CreateFellowCtrl.js")
script(type="text/javascript", src="/app/fellowship/ApprvFellowCtrl.js")
script(type="text/javascript", src="/app/fellowship/FellowPhotoCtrl.js")
script(type="text/javascript", src="/app/fellowship/FellowResourceCtrl.js")
script(type="text/javascript", src="/app/fellowship/TransformSvc.js")


script(type="text/javascript", src="/app/fellowship/join/ocfc-filter-bar.js")
script(type="text/javascript", src="/app/fellowship/join/ocfc-fellow-list.js")

script(type="text/javascript", src="/app/fellowship/wall/ocfc-wall-category.js")
script(type="text/javascript", src="/app/fellowship/wall/ocfc-post-icons.js")
script(type="text/javascript", src="/app/fellowship/wall/ocfc-filter-by-types.js")
script(type="text/javascript", src="/app/fellowship/wall/ocfc-post-res-icons.js")
script(type="text/javascript", src="/app/fellowship/wall/ocfc-user-comment-input.js")
script(type="text/javascript", src="/app/fellowship/wall/ocfc-post-heading.js")
script(type="text/javascript", src="/app/fellowship/wall/ocfc-post-general.js")
script(type="text/javascript", src="/app/fellowship/wall/ocfc-post-testimony.js")
script(type="text/javascript", src="/app/fellowship/wall/ocfc-post-question.js")
script(type="text/javascript", src="/app/fellowship/wall/ocfc-post-event.js")

script(type="text/javascript", src="/app/calendar/EventCtrl.js")
