.navbar-header a.navbar-brand {
  margin-top: -15px;
  margin-bottom: -20px;
}
.navbar-header a.navbar-brand h6 {
  color: #ccc;
}
a.navbar-brand {
  width: 300px;
}
.navbar-right a.dropdown-toggle img {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  border: 1px solid #00bfff;
}
.toolbar-search {
  position: absolute;
  top: 20px;
  width: 200px;
  right: 370px;
}
.toolbar-search input {
  padding-right: 30px;
}
.toolbar-search i {
  position: absolute;
  right: 15px;
  top: -2px;
  padding: 10px 12px;
  pointer-events: none;
}
.toolbar-language {
  position: absolute;
  top: 20px;
  width: 100px;
  right: 250px;
  padding-top: 5px;
  padding-left: 10px;
  vertical-align: top;
}
.toolbar-language i {
  font-size: 1.6em;
}
.toolbar-language span {
  padding-left: 10px;
  line-height: 25px;
  vertical-align: top;
}
.toolbar-message {
  position: absolute;
  top: 20px;
  width: 50px;
  right: 200px;
  padding-top: 5px;
  padding-left: 10px;
}
.toolbar-message i {
  font-size: 1.6em;
}
.toolbar-notification {
  position: absolute;
  top: 20px;
  width: 50px;
  right: 150px;
  padding-top: 5px;
  padding-left: 10px;
}
.toolbar-notification i {
  font-size: 1.6em;
}
