//4.29.2014, created a join fellowship page that includes zipcode and fellowshp name input boxes
//which will dynamically generate data stored in Mongodb
//join-fellow.jade
#standardCol
	#filter-container
		ocfc-filter-bar
	#join-fellow
		#fellow-no-resize.list-page.container
			ocfc-fellow-list
