//ocfc-filter-bar.jade
.filter-bar
	.zip-search-container.col-xs-6
		input.form-control(ng-change='updateFellowListByZip()',ng-model='zipcode', type='text', placeholder='ZipCode')
	.name-search-container.col-xs-6
		input.form-control(type='text', placeholder='Type Fellowship Name')